<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.master.ExamDao">
    <insert id="createExam">
        insert into `exam`
        (id, examName, createTime, createPeople, startTime,
         endTime, duration, grade, elective
            , department, major, subject, className)
        values (#{id}, #{examName},
                #{createTime}, #{createPeople}, #{startTime}, #{endTime},
                #{duration}, #{grade}, #{elective},
                #{department}, #{major}, #{subject}, #{className})
    </insert>

    <insert id="sendExam">
        insert into `examStu`
        (userId, examId, examName,
        createTime, createPeople, startTime,
        endTime, grade, department,
        major, subject, className, electiv)
        values
        <foreach collection="list" item="item" separator="," index="index">
            (#{item.userId}, #{item.examId}, #{item.examName},
            #{item.createTime}, #{item.createPeople}, #{item.startTime},
            #{item.endTime}, #{item.grade}, #{item.department},
            #{item.major}, #{item.subject}, #{item.className},
            #{item.electiv})
        </foreach>


    </insert>


    <!-- 通用查询映射结果 -->
<!--    <resultMap id="BaseResultMap" type="com.example.demo.entity.ExamMsg">-->
<!--        <id column="examId" property="examId" />-->
<!--        &lt;!&ndash; 这里显示指定typeHandler属性值 &ndash;&gt;-->
<!--        <result column="selectMsg" property="selectMsg"-->
<!--                jdbcType="JAVA_OBJECT" javaType="java.util.List"-->
<!--                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>-->
<!--        <result column="blankMsg" property="blankMsg"-->
<!--                jdbcType="JAVA_OBJECT" javaType="java.util.List"-->
<!--                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>-->
<!--        <result column="judgeMsg" property="judgeMsg"-->
<!--                jdbcType="JAVA_OBJECT" javaType="java.util.List"-->
<!--                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>-->
<!--        <result column="essayMsg" property="essayMsg"-->
<!--                jdbcType="JAVA_OBJECT" javaType="java.util.List"-->
<!--                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>-->
<!--    </resultMap>-->

    <insert id="determine">
        insert into `examMsg`
            (examId, selectMsg, blankMsg, judgeMsg, essayMsg)
        values (#{examId}, #{selectMsg}, #{blankMsg},
                #{judgeMsg}, #{essayMsg})
    </insert>


    <select id="getTeacherExamAll" resultType="com.example.demo.entity.exam.Exam">
        select id,
               examName,
               startTime,
               endTime,
               grade,
               department,
               major,
               subject,
               className,
               elective
        from `exam`
        where createPeople = #{userId}
        order by startTime
    </select>

    <select id="getTeacherExamRelative" resultType="com.example.demo.entity.exam.Exam">
        select id,
        examName,
        startTime,
        grade,
        department,
        major,
        subject,
        className,
        elective
        from `exam`
        <where>
            <if test="grade != null and grade != ''">
                grade = #{grade}
            </if>
            <if test="department != null and department != ''">
                department = #{department}
            </if>
            <if test="major != null and major != ''">
                major = #{major}
            </if>
        </where>
        order by startTime

    </select>
    <select id="getExamByExamId" resultType="com.example.demo.entity.exam.Exam">
        select *
        from `exam`
        where id = #{examId} limit 1
    </select>

    <select id="getElective" resultType="java.lang.String">
        select studentId
        from `elective`
        where grade = #{grade}
          and elective = #{elective}
    </select>


</mapper>