<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.master.StudentDao">
    <insert id="register">
        insert into `student`
        (userId, userName, gender, password,
         phone, registTime, department, major, className, grade)
            value ( #{userId},#{userName},#{gender},#{password},
            #{phone},#{registTime},#{department},
            #{major},#{className},#{grade}
            )
    </insert>


    <insert id="uploadStudent">
        insert into `student`
        ( userId, userName,
        gender, password,
        phone, registTime,
        department, major, className,
        grade)
        values
        <foreach collection="list" item="item"
                 separator="," index="index">
            ( #{item.userId}, #{item.userName},
            #{item.gender}, #{item.password},
            #{item.phone}, #{item.registTime},
            #{item.department}, #{item.major}, #{item.className},
            #{item.grade})
        </foreach>
    </insert>
    <insert id="endExam">
        insert into `examHistory`
            (examId, userId, score, selectMsg, blankMsg, judgeMsg, essayMsg)
        values (#{examId}, #{userId}, #{score}, #{selectMsg}, #{blankMsg}, #{judgeMsg}, #{essayMsg})
    </insert>


    <select id="getByUserId" resultType="com.example.demo.entity.roles.Student">
        select *
        from student
        where userId = #{userId}
    </select>

    <select id="getStudentNum" resultType="java.lang.Integer">
        select count(*) from `student`
        where grade = #{grade}
        <if test="department!= '' and department != null">
            department = #{department}
        </if>
        <if test="major != '' and major != null">
            major = #{major}
        </if>
        <!--        <if test="className != '' and className != null">-->
        <!--            className = #{className}-->
        <!--        </if>-->
    </select>

    <select id="getById" resultType="com.example.demo.entity.roles.Student">
        select *
        from student
        where userId = #{userId}

    </select>

    <select id="getExam" resultType="com.example.demo.entity.ExamStu">
        select *
        from `examStu`
        where userId = #{userId}

        order by startTime
    </select>

    <select id="getStudentList" resultType="java.lang.String">
        select userId from
        `student`
        <where>
            <if test="grade != null and grade != ''">
                and grade = #{grade}
            </if>
            <if test="department != null and department != ''">
                and department = #{department}
            </if>
            <if test="major != null and major != ''">
                and major = #{major}
            </if>
            <if test="className != null and className != ''">
                and className = #{className}
            </if>
        </where>
    </select>
    <select id="getExamMsg" resultType="com.example.demo.entity.ExamMsg">
        select *
        from `examMsg`
        where examId = #{examId}
    </select>


</mapper>